<%-include ('../partials/header')%>


<div class="container d-flex justify-content-center">
    <form class="w-50" action="/posts/<%=data._id%>?_method=PUT" method="POST">
        <h1 class="text-center mb-5 text-break">Editar "<%=data.title%>"</h1>
        <div class="form-group">
          <input type="text" name="title" class="form-control form-control-lg" placeholder ="Título" value="<%=data.title%>">
        </div>
        <div class="form-group">
          <input type="url" name="image" class="form-control form-control-lg" placeholder ="URL da Foto" value="<%=data.image%>">
        </div>
        <div class="form-group">
          <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"><%=data.description%></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>