<%- include ('../partials/header')%>


  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <div class="actions">
          <!-- Action buttons -->
          <%if(data.author.id.equals(user.id)){%>
            <div class="hide justify-content-end">
              <a href="/posts/<%=data._id%>/edit" type="button" class="btn btn-outline-secondary btn-sm mr-1">
               <img src="/icons/lapis.svg"  width="20" height="20" alt="Edit">
              </a>
              <form class="d-inline" action="/posts/<%=data._id%>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-danger btn-sm">
                  <img src="/icons/excluir.svg"  width="20" height="20" alt="Delete">
                </button>
              </form>
            </div>
          <%}%>
          <!-- Author -->
          <div>
            <h1 class="mt-4 text-break"><%=data.title%></h1>
            <p class="lead">
              by
              <a href="#"><%=data.author.username%></a>
            </p>
          </div>  
          <!-- Date/Time -->
          <%
            const monthsName = [
              "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho",
              "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"
            ]
            const weekDays = [
              "Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"
            ]
            const w = weekDays[data.date.getDay()];
            const d = data.date.getDate();
            const m = monthsName[data.date.getMonth()];
            const y = data.date.getFullYear();
          %>
          <small><%= w + ", " + d + " de " +  m + " de " + y  %></small>
        </div>
        
        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src=<%=data.image%> alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead text-break"><%=data.description%></p>

        <hr>

        <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form action="/posts/<%=data._id%>/comments" method="POST">
                <div class="form-group">
                  <textarea class="form-control" name="comment" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>

        <!-- Single Comment -->
        <%for(item of data.comments){%>
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body actions">
              <h5 class="mt-0"><%=item.author.username%></h5>
              <%if(item.author.id.equals(user.id)){%>
                <div class="hide justify-content-end">
                  <a href="/posts/<%=data._id%>/comments/<%=item._id%>/edit" type="button" class="btn btn-outline-secondary btn-sm mr-1">
                    <img src="/icons/lapis.svg"  width="15" height="15" alt="Edit">
                  </a>
                  <form class="d-inline" action="/posts/<%=data._id%>/comments/<%=item._id%>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-outline-danger btn-sm">
                      <img src="/icons/excluir.svg"  width="15" height="15" alt="Delete">
                    </button>
                  </form>
                </div>
              <%}%>
              <p class="text-break"><%=item.comment%></p>
            </div>
          </div>
        <%}%>        
        <!-- Comment with nested comments -->
        <!-- <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <!-- Search Widget -->
        <!-- <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div> -->
        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Geolocalização</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>

<%- include ('../partials/footer')%>